{% extends 'base.html' %}

{% block title %}
    <title> User Edit </title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1> Edit a user </h1>
        <form action="/users/{{user.id}}/edit" method="post">
            <label for="first-name" class="form-label"> First Name </label>
            <input class="form-control" placeholder="Enter a first name" name="first-name" 
            value="{{user.first_name}}"/>
            <label for="last-name" class="form-label"> Last Name </label>
            <input class="form-control" placeholder="Enter a last name" name="last-name"
            value="{{user.last_name}}"/>
            <label for="image-url" class="form-label"> Image URL </label>
            <input class="form-control" placeholder="Enter an image url" name="image-url"
            value="{{user.image_url}}"/>
            <a class="btn btn-outline-secondary float-end ms-3 mt-3" href="/users/{{user.id}}"> Cancel </a>
            <button class="btn btn-success float-end mt-3"> Save </button>
        </form>
    </div>
{% endblock %}