{% extends 'base.html' %}

{% block content %}
    <h1> Welcome to Boggle! </h1>
    {% for row in board %}
        <p> {{row}} </p>
    {% endfor %}

    <form id="guessForm">
        <input type="text" name="guess" placeholder="Enter a guess...">
        <button id="submitGuess"> submit </button>
    </form>
    
    <h1 id="guessResult">  </h1>
    <p> score: <span id="score">0</span> </p>
    {% if session.get("past_scores") %}
    <p> past scores: 
        {% for score in session["past_scores"]%}
            <span> {{score}} </span>
        {% endfor %}
    {% endif %}
    </p>
{% endblock %}