.image-resize{
    height: 200px;
    width: 200px;
}

.form-width{
    width:100px
}

.footer-fix{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content-footer-push{
    margin-bottom: 100px;
}

.smaller-table{
    width: 100%;
}

.title-width{
    width: 80%;
}

.button-width{
    width: 20%;
}

.remove-underline{
    text-decoration: none;
}

.nav-color{
    color: black;
}